body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
}

.project {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
}